// BEGIN SECTION ACHIEVEMENT
.achievement
  .container
    .row
      .achievement__item(data-sr='enter right move 0 over 0 wait 0s', data-animate-callback='countUp', data-animate-end='achievement__item--animate-end')
        svg.achievement__icon
          use(xlink:href='#icon-transactions')
        .achievement__counter.achievement__counter--lg.js-count-up(data-count-end='755300', data-count-duration='1')
        .achievement__counter 755 300
        .achievement__name Transactions

      .achievement__item(data-sr='enter right move 0 over 0 wait 0.5s', data-animate-callback='countUp', data-animate-end='achievement__item--animate-end')
        svg.achievement__icon
          use(xlink:href='#icon-customers')
        .achievement__counter.achievement__counter--lg.js-count-up(data-count-end='17620', data-count-duration='1')
        .achievement__counter 17 620
        .achievement__name Satisfied Customers
      .achievement__item(data-sr='enter right move 0 over 0 wait 1s', data-animate-callback='countUp', data-animate-end='achievement__item--animate-end')
        svg.achievement__icon
          use(xlink:href='#icon-agency')
        .achievement__counter.achievement__counter--lg.js-count-up(data-count-end='790', data-count-duration='1')
        .achievement__counter 790
        .achievement__name Agencies
      .achievement__item(data-sr='enter right move 0 over 0 wait 1.5s', data-animate-callback='countUp', data-animate-end='achievement__item--animate-end')
        svg.achievement__icon
          use(xlink:href='#icon-sales')
        .achievement__counter.achievement__counter--lg.js-count-up(data-count-end='1528715', data-count-duration='1')
        .achievement__counter 1 528 715
        .achievement__name Sales &amp; Rents
// END SECTION ACHIEVEMENT
