+widget('Contact', null, 'footer')
  section.address.address--footer
    h4.address__headline Our office
    address.address__main
      span 1950 New York, NY, Ave NW, California, DC 3000600, USA
      span 08 - 17 mon-fr
      a(href='tel:+442240052225') +1 202 555 0135
      a(href='tel:+442240052225') +1 202 555 0135
      span Fax: +1 202 555 0135
      a(href='mailto:hello@example.com') hello@example.com
  // end of block .address
