aside.widget.widget_calendar
  h2.widget-title Calendar
  div
    table
      caption November 2015
      thead
        tr
          th(scope='col') Mo
          th(scope='col') Tu
          th(scope='col') We
          th(scope='col') Th
          th(scope='col') Fr
          th(scope='col') Sat
          th(scope='col') Sun
      tfoot
        tr
          td.pad(colspan='3')
            a(href='') « January
          td.pad  
          td.pad(colspan='3')
            a(href='') March »
      tbody
        tr
          td.pad(colspan='6')  
          td 1
        tr
          td 2
          td 3
          td 4
          td 5
          td 6
          td
            a(href='#', title='Real estate price analysis') 7
          td 8
        tr
          td 9
          td 10
          td 11
          td 12
          td 13
          td 14
          td 15
        tr
          td 16
          td
            a(href='#', title='Real estate price analysis') 17
          td
            a(href='#', title='Real estate price analysis') #[strong 18]
          td
            a(href='#', title='Real estate price analysis') 19
          td 20
          td 21
          td 22
        tr
          td 23
          td 24
          td 25
          td 26
          td 27
          td 28
          td.pad(colspan='1')  
