+widget
  // BEGIN SECTION FEATURE
  section.feature
    .feature__picture
    // end of .feature__picture
    .container
      .feature__content
        .feature__header
          h3.feature__title(data-sr= 'enter right ease-in-out 150px') Meet Realtyspace
          h4.feature__headline(data-sr= 'enter right ease-in-out 250px') Our mission is to empower consumers with information to make smart decisions. RealtySpace is a real estate marketplace dedicated to helping homeowners, home buyers, sellers, renters and agents find and share information about homes, real estate and home improvement.
        // end of block .feature__header
        .feature__list
          .feature__item(data-sr= 'enter right ease 150px')
            svg.feature__icon.feature__icon--money-save
              use(xlink:href='#icon-money-save')
            .feature__item-content
              h3.feature__item-title Save money
              .feature__text
                p It starts with our living database of more than 110 million U.S. homes &ndash; including homes for sale, homes for rent and homes not currently on the market.
          // end of block .feature__item
          .feature__item(data-sr= 'enter right ease 250px')
            svg.feature__icon.feature__icon--good-sales
              use(xlink:href='#icon-good-sales')
            .feature__item-content
              h3.feature__item-title Good sales&amp;marketing
              .feature__text
                p In addition, RealtySpace operates the largest real estate and rental advertising networks in the U.S. in partnership with Livemile Homes!
          // end of block .feature__item
          .feature__item(data-sr= 'enter right ease 150px')
            svg.feature__icon
              use(xlink:href='#icon-comfort')
            .feature__item-content
              h3.feature__item-title Comfort
              .feature__text
                p We are transforming the way consumers make home-related decisions and connect with professionals.
          // end of block .feature__item
          .feature__item(data-sr= 'enter right ease 250px')
            svg.feature__icon
              use(xlink:href='#icon-easy')
            .feature__item-content
              h3.feature__item-title Easy to find
              .feature__text
                p It starts with our living database of more than 110 million U.S. homes &ndash; including homes for sale, homes for rent and homes not currently on the market.
          // end of block .feature__item
        // end of block .feature__list
      // end of .feature__content
  // END SECTION FEATURE
