// BEGIN BLOCK GO SUBMIT
.gosubmit(data-sr='flip 45deg over 0.5s')
  .container
    .gosubmit__title
      .gosubmit__title__row.gosubmit__title__row--first Looking to
      .gosubmit__title__row.gosubmit__title__row--second
        span.gosubmit__title__option Sell
        | or
        span.gosubmit__title__option Rent
      .gosubmit__title__row.gosubmit__title__row--third Your Property?
    // end of block .gosubmit__title
    a(href='my_listings_add_edit.html').gosubmit__btn Submit now
// END BLOCK GO SUBMIT
