+widget('Add credits', null, 'dashboard')
  section.payment
    .tab.tab--sidebar
      // Nav tabs
      ul.nav.tab__nav(role='tablist')
        li.active(role='presentation')
          a(href='#home', aria-controls='home', role='tab', data-toggle='tab')
            i.fa.fa-credit-card
            | Credit card
        li(role='presentation')
          a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab')
            i.fa.fa-paypal
            | Paypal
        li(role='presentation')
          a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Other
      // Tab panes
      .tab-content
        #home.tab-pane.active(role='tabpanel')
          include form--payment
        #profile.tab-pane(role='tabpanel') 2
          p step 2

        #messages.tab-pane(role='tabpanel') 3
          p step 3
