// BEGIN ARTICLE CATEGORIES
.article-categories
  .article-categories__list.js-categories-article
    ul
      li.article-categories__item
        a.article-categories__name(href='#')
          | Comfort
          span.article-categories__count (3)
      li.article-categories__item
        a.article-categories__name(href='#')
          | Luxury
          span.article-categories__count (4)
      li.article-categories__item
        a.article-categories__name(href='#')
          | Why live in New York
          span.article-categories__count (2)
      li.article-categories__item
        a.article-categories__name(href='#')
          | Sales
          span.article-categories__count (34)
      li.article-categories__item
        a.article-categories__name(href='#')
          | Vilas for sale
          span.article-categories__count (44)
      li.article-categories__item
        a.article-categories__name(href='#')
          | Sustainable growth
          span.article-categories__count (5)
      li.article-categories__item
        a.article-categories__name(href='#')
          | Reports
          span.article-categories__count (2)
  // end of block .article-categories__list
// END ARTICLE CATEGORIES
