// BEGIN WORKER PROFILE
.worker(class= userType )
  h3.worker__name Jenniffer Hartnet
  .worker__photo
    .worker__avatar
      svg
        use(xlink:href='#icon-avatar')
    button.worker__avatar-upload Upload your profile picture

  nav.worker__nav
    ul
      li
        a(href='my_listings.html') My listing
      li
        a(href='my_profile.html') My Profile
      li
        a(href='my_profile.html') Settings
  // end of block .worker__nav
// end of block .worker__item
// END WORKER PROFILE
