extends dashboard

block config
  - var bodyClass = 'sidebar-left';
  - var page = 'dashboard_profile';
  - var user = true;

block dashboard_main
  - var statisticsType = 'list';
  include partials/dashboard/dashboard--profile
