extends partials/layout/_base
block config
  - var bodyClass = 'main--white';
  - var page = 'error_403';

block center
  +widget(null, null, 'landing')
    include partials/mixins/form--search
    +formSearch('error-status', 'Please enter a search query')

  +widget('403 Error. Forbidden.', "We are sorry but you don't have permission to access this page. Please contact website owners for more information.", 'landing widget--sep')

