extends properties_listing_grid
block config
  - var page = 'feature_grid_large';

block main
  +widget(null, null, 'main')
    .listing.listing--grid.listing--lg-6.js-properties-list
      - var i = 0;
      while i++ < 23
        .listing__item
          +properties(i, 'grid')
