extends partials/layout/_base
block config
  - var bodyClass = '';
  - var page = 'properties_listing_empty';
block before_center
  // BEGIN BREADCRUMBS
  nav.breadcrumbs
    .container
      ul
        li.breadcrumbs__item
          a.breadcrumbs__link(href='') Home
        li.breadcrumbs__item
          a.breadcrumbs__link(href='') Listing
        li.breadcrumbs__item
          a.breadcrumbs__link(href='') United states
        li.breadcrumbs__item
          a.breadcrumbs__link(href='') Apartment for sale
  // END BREADCRUMBS
block center
  .row
    // BEGIN LISTING
    .site.site--main
      header.site__header
        h1.site__title Listing estate
        h5.site__headline
          | Found:
          strong  641 apatments

      button.widget__btn--goto.js-goto-btn(type='button', data-goto-target='.js-search-form') Show Filter

      .site__panel
        include partials/chunks/listing/sort
        - var linkList = 'properties_listing_list.html';
        - var linkGrid = 'properties_listing_grid.html';
        - var linkTable = 'properties_listing_table.html';
        - var linkActive = 'linkGrid';
        include partials/chunks/listing/view

      include partials/chunks/listing/param


      .site__main
        +widget(null, null, 'main')
          .listing__empty
            svg.listing__empty-icon
              use(xlink:href='#icon-info')

            h4.listing__empty-title Your search &quot;vbuilding&quot; did not return any properties.
            span.listing__empty-headline
              | Please make sure all words are spelled correctly
              | or try different keywords.
    // END site
    // BEGIN SIDEBAR
    .sidebar
      +widget('Filter', 'Find your apartment or house on the exact key parameters.', 'sidebar', 'Show filter', null, 'toggle')
        - var searchType = 'sidebar'
        include partials/widgets/form--search
    // END SIDEBAR
    .clearfix
//


