extends partials/layout/_base
block config
  - var bodyClass = '';
  - var page = 'reviews';

block before_center
  // BEGIN BREADCRUMBS
  nav.breadcrumbs
    .container
      ul
        li.breadcrumbs__item
          a.breadcrumbs__link(href='') Home
        li.breadcrumbs__item
          a.breadcrumbs__link(href='') Testimonials
  // END BREADCRUMBS
block center
  .row
    // BEGIN site
    .site.site--main
      header.site__header
        h1.site__title Testimonials
        h2.site__headline How to Choose the Right Testimonial.
      .site__panel
        span.site__header-text
          | Some nice words from our clients. The funds are strictly designed to help single-family homeowners retrofit their residences for safety purposes.

      .site__main
        +widget(null, null, 'main')
          .listing.listing--list
            - var reviewType = 'list';
            each name, j in ['Vanessa Kasinsky', 'Joseph Ryan', 'Caroline Reynolds', 'Ana Oliver']
              .listing__item
                .review.review--list
                  include partials/chunks/review_item
            each name, j in ['Vanessa Kasinsky', 'Joseph Ryan', 'Caroline Reynolds', 'Ana Oliver']
              .listing__item
                .review.review--list
                  include partials/chunks/review_item
      .site__footer
          include partials/chunks/pagination
    // END site
    // BEGIN SIDEBAR
    .sidebar
      +widget('Filter', 'Find your apartment or house on the exact key parameters.', 'sidebar', 'Show filter', null, 'toggle')
        - var searchType = 'sidebar'
        include partials/widgets/form--search
      +widget('Popular estate', 'Find your apartment or house on the exact key parameters.', 'sidebar widget--dark', 'Show properties', null, 'toggle')
        .listing.listing--sidebar
          - var i = 0;
          while i++ < 3
            .listing__item
              +properties(i, 'sidebar')
      +widget('Our agents', 'Find your apartment or house on the exact key parameters.', 'sidebar widget--dark', 'Show workers', null, 'toggle')
        .listing.listing--sidebar
          - var i = -1;
          while i++ < 2
            .listing__item
              +worker(i, 'sidebar')
      +widget('News & Blog', 'Find your apartment or house on the exact key parameters.', 'sidebar', 'Show articles', null, 'toggle')
        - var articleType = 'sidebar';
        include partials/widgets/article
    // END SIDEBAR
    .clearfix
