extends partials/layout/_base
block config
  - var bodyClass = '';
  - var page = 'user_register';

block before_center
  // BEGIN BREADCRUMBS
  nav.breadcrumbs
    .container
      ul
        li.breadcrumbs__item
          a.breadcrumbs__link(href='') Home
        li.breadcrumbs__item
          a.breadcrumbs__link(href='') Register
  // END BREADCRUMBS
block center
  .row
    section.site
      header.site__header
        h1.site__title Register
        h2.site__headline Create an account
      .site__main
        +widget(null, null, 'main widget--no-border')
          .auth.auth--inline
            .auth__wrap.auth__wrap--register
              - var formType = 'inline';
              include partials/chunks/auth/register
