extends partials/layout/_base
block config
  - var bodyClass = '';
  - var user = true;
  - var page = 'user_login';


block before_center
  // BEGIN BREADCRUMBS
  nav.breadcrumbs
    .container
      ul
        li.breadcrumbs__item
          a.breadcrumbs__link(href='') Home
        li.breadcrumbs__item
          a.breadcrumbs__link(href='') Login
  // END BREADCRUMBS
block center
  .row
    section.site
      header.site__header
        h1.site__title Login
        h2.site__headline Enter your login and password
      .site__main
        +widget(null, null, 'main widget--no-border')
          .auth.auth--inline
            .auth__wrap.auth__wrap--login
              - var formType = 'inline';
              include partials/chunks/auth/login
