form.form.form--flex.form--banner-sidebar.js-parsley#search-form(action='properties_listing_list.html')
  .row
    .form-group
      label.control-label(for='register-name') First name
      input.form-control(type='text', id='register-name', required)
    .form-group
      label.control-label(for='register-lastname') Last name
      input.form-control(type='text', id='register-lastname', required)
    .form-group
      label.control-label(for='register-phone') Telephone
      input.form-control(type='text', id='register-phone')
    .form-group
      label.control-label(for='register-email') E-mail
      input.form-control(type='email', name='email', id='register-email', required)
    .form-group
      label.control-label(for='register-password') Password
      input.form-control(type='password', name='password', id='register-password', required)

    .form__buttons
      button.form__submit(type='submit') Sign Up

// end of block
