select.form-control.js-in-select#in-5(data-placeholder='Choose a City...', required)
  option(label=' ')
  optgroup(label='Fresno')
    option(value='Clovis') Clovis
    option(value='Fresno') Fresno
    option(value='Fresno') Fresno
  optgroup(label='Los Angeles')
    option(value='Glendale') Glendale
    option(value='Long Beach') Long Beach
    option(value='Los Angeles') Los Angeles
    option(value='Bel Air') Bel Air
    option(value='Brentwood') Brentwood
    option(value='Holywood Hills') Holywood Hills
    option(value='Mar Vista') Mar Vista
    option(value='Silver Lake') Silver Lake
    option(value='Santa Ana') Santa Ana
  optgroup(label='Santa Clara')
    option(value='Cupertino') Cupertino
    option(value='Mountain View') Mountain View
    option(value='Palo Alto') Palo Alto
    option(value='San Jose') San Jose
// end of block .form-property__control
