// BEGIN PAGINATION
nav.listing__pagination
  ul.pagination-custom
    li
      a(href='#')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
    li
      a(href='#') 1
    li
      span ...
    li.active-before
      a(href='#') 3
    li.active
      span 4
    li.active-after
      a(href='#') 5
    li
      span ...
    li
      a(href='#') 15
    li
      a(href='#')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next
// END PAGINATION
