select.form-control#in-2(data-placeholder='Choose a Supporter...', required)
  option(label=' ')
  option(value='3676') Affin Bank Berhad
  option(value='3677') Alliance Bank Malaysia Berhad
  option(value='3678') AmBank (M) Berhad
  option(value='3679') Bank of China (Malaysia) Berhad
  option(value='3680') CIMB Bank Berhad
  option(value='3681') Citibank Berhad
  option(value='3682') HSBC Bank Malaysia Berhad
  option(value='3683') Hong Leong Bank Berhad
  option(value='3684') Industrial and Commercial Bank of China (Malaysia) Berhad
  option(value='3685') Malayan Banking Berhad
  option(value='3686') OCBC Bank (Malaysia) Berhad
  option(value='3687') Public Bank Berhad
  option(value='3688') RHB Bank Berhad
  option(value='3689') Standard Chartered Bank Malaysia Berhad
  option(value='3690') United Overseas Bank (Malaysia) Bhd.
  option(value='3691') Affin Islamic Bank Berhad
  option(value='3692') Al Rajhi Banking & Investment Corporation (Malaysia) Berhad
  option(value='3693') Alliance Islamic Bank Berhad
  option(value='3694') Bank Islam Malaysia Berhad
  option(value='3695') Bank Muamalat Malaysia Berhad
  option(value='3696') CIMB Islamic Bank Berhad
  option(value='3697') HSBC Amanah Malaysia Berhad
  option(value='3698') Hong Leong Islamic Bank Berhad
  option(value='3699') Kuwait Finance House (Malaysia) Berhad
  option(value='3700') Maybank Islamic Berhad
  option(value='3701') OCBC Al-Amin Bank Berhad
  option(value='3702') Public Islamic Bank Berhad
  option(value='3703') RHB Islamic Bank Berhad
  option(value='3704') Standard Chartered Saadiq Berhad
  option(value='3705') Bank Kerjasama Rakyat Malaysia Berhad (Bank Rakyat)
  option(value='3706') Bank Simpanan Nasional (BSN)
