@using Wohnungstausch24.Resources
@model dynamic

<div class="widget js-widget widget--landing widget--sep">
    <div class="widget__header text-center">
        <i class="fa fa-4x fa-check-circle-o"></i>
        <h1 class="widget__title">@Resource.RegistrationSuccessful</h1>
        <h2 class="widget__headline">@Resource.Please_Check_Your_Email_Account_To_Confirm_Your_Email_Address</h2>
    </div>
    <div class="widget__content">
    </div>
</div>