form.form.form--flex.form--property.form--extra.js-form-property
  .row
    .form-group
      label.control-label Portfolio
      .input-group
        select(multiple='multiple', class='js-portfolio')
          option Portfolio
          option Portfolio 1
          option Portfolio 2
          option Portfolio 3
          option Portfolio 4
        button.btn.btn--plus(type='button')

  .row
    button.form__submit(type='button') Save
