form.form.form--flex.form--property.form--extra.js-form-property
  .row
    .form-group.form-group--col-12
      label.control-label Market Status
      - var options = ['No Co-Agency', 'Co-Agency with All Negotiators', 'Custom']

      ul.form__check
        each option, i in options
          li
            input(type='radio', name='agency', id='in-radio-agency-' + i, class='in-radio')
            label(for='in-radio-agency-' + i, class='in-label')= option


  .row
    button.form__submit Next
