@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="site site--dashboard">
    <div class="site__main">
        <div class="widget js-widget widget--dashboard">
            <div class="widget__header">
                <h2 class="widget__title">Admin</h2>
            </div>
            <div class="widget__content">

            </div>
        </div>
    </div>
</div>
<!-- END LISTING-->