.listing__param
  span.listing__param-item
    a.listing__param-delete
    | USA
  span.listing__param-item
    a.listing__param-delete
    | New Jersey
  span.listing__param-item
    a.listing__param-delete
    | New York City
  span.listing__param-item
    a.listing__param-delete
    | California
  span.listing__param-item
    a.listing__param-delete
    | Los Angeles
  span.listing__param-item
    a.listing__param-delete
    | For sale
  span.listing__param-item
    a.listing__param-delete
    | Privat apartment
  span.listing__param-item
    a.listing__param-delete
    | Price: $50k - $400k
  span.listing__param-item
    a.listing__param-delete
    | Area: 60 - 145 m2
  span.listing__param-item
    a.listing__param-delete
    | 2 bedrooms
  span.listing__param-item
    a.listing__param-delete
    | 3 bedrooms
  span.listing__param-item
    a.listing__param-delete
    | 4 bedrooms
    span.listing__param-item
    a.listing__param-delete
    | Clear All
//end of block .listing__param
