.listing__show
  div.form-group
    label.control-label(for='in-listing-show') Show on page:
    .form-control--select
      select.form-control.js-in-select(id='in-listing-show')
        option 10
        option 25
        option 50
        option 100
//end of block .listing__show
