.listing__sort
  .form-group
    label.control-label(for='in-listing-sort') Sort by:
    .form-control--select
      select.form-control.js-in-select(id='in-listing-sort')
        option Price + P&amp;P: Highest First
        option Time: Ending Soonset
        option Time: Newly Listed
        option Price + P&amp;P: Lowest First
        option Price + P&amp;P: Highest First
        option Price: Lowest First
        option Price: Highest First
        option Distance: Nearest First
        option Condition: New First
        option Condition: Used First
        option Best Match
//end of block .listing__sort
