.listing__view
  span.control-label View:
  a.btn--white(href=linkGrid, class= linkActive == 'linkGrid' ? 'active' : '')
    i.fa.fa-th-large
  a.btn--white(href=linkList, class= linkActive == 'linkList' ? 'active' : '')
    i.fa.fa-bars
  a.btn--white(href=linkTable, class= linkActive == 'linkTable' ? 'active' : '')
    i.fa.fa-table
//end of block .listing__view
