
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="site site--dashboard">
    <div class="site__main">
        <div class="widget js-widget widget--dashboard">
            <div class="widget__content">
                <form class="form form--flex js-form col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <header class="form__header">
                        <h3 data-rel="#form-block-5" class="form__title js-form-title">Change your password</h3>
                    </header>
                    <div id="form-block-5" class="form__block js-form-block">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="in-14" class="control-label">Current Password</label>
                                        <input id="in-14" required name="agency_name" data-placeholder="---" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="in-15" class="control-label">New Password</label>
                                        <input id="in-15" required name="agency_name" data-placeholder="---" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="in-16" class="control-label">Confirm New Password</label>
                                        <input id="in-16" required name="agency_name" data-placeholder="---" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="form__submit">Save password</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>



