// BEGIN NAVBAR
#header-nav-offset
nav.navbar.navbar--header#header-nav(class= navbarOverlay)
  .container
    .navbar__row.js-navbar-row
      a.navbar__brand(href='index.html')
        svg.navbar__brand-logo
          use(xlink:href='#icon-logo')

      include  menu
// END NAVBAR
