+widget('Real estates', 'Our agents are licensed professionals that specialise in searching, evaluating and negotiating the purchase of property on behalf of the buyer. They will sell you real estate. Insights, tips & how-to guides on selling property and preparing your home or investment property for sale and working to maximise your sale price.', 'landing widget--gray')
  // BEGIN PROPERTIES INDEX
  .tab.tab--properties
    // Nav tabs
    ul.nav.tab__nav(role='tablist')
      li.active
        a.properties__btn.js-pgroup-tab(href='#tab-popular', aria-controls="tab-popular", role="tab", data-toggle="tab") Popular
      li
        a.properties__btn.js-pgroup-tab(href='#tab-recent',aria-controls="tab-recent", role="tab", data-toggle="tab") Recent
      li
        a.properties__btn.js-pgroup-tab(href='#tab-featured',aria-controls="tab-featured", role="tab", data-toggle="tab") Featured
    // Tab panes
    .tab-content
      .tab-pane.in.active#tab-popular
        .listing.listing--grid
          - var i = 0;
          while i++ < 6
            .listing__item
              +properties(i, 'grid')
      .tab-pane#tab-recent
        .listing.listing--grid
          - var i = 4;
          while i++ < 10
            .listing__item
              +properties(i, 'grid', null, true)
      .tab-pane#tab-featured
        .listing.listing--grid
          - var i = 3;
          while i++ < 6
            .listing__item
              +properties(i, 'grid')

  .widget__footer
    a.widget__more(href='properties_listing_list.html') More properties
