@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN BREADCRUMBS-->
<nav class="breadcrumbs">
    <div class="container">
        <ul>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Home</a></li>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Pages</a></li>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Content page</a></li>
        </ul>
    </div>
</nav>
<!-- END BREADCRUMBS-->
<div class="center">
    <div class="container">
        <div class="row">
            <!-- BEGIN site-->
            <div class="site site--main">
                <header class="site__header">
                    <h1 class="site__title">Energy</h1>
                    <h2 class="site__headline">Check out our new market updates</h2>
                </header>
                <div class="site__main">
                    <div class="widget js-widget widget--main widget--no-margin">
                        <div class="widget__content">
                            <div style="width: 100%" id="c24pp-power-iframe"></div>
                            <script src="https://files.check24.net/widgets/auto/103442/c24pp-power-iframe/power-iframe.js"></script>
                        </div>
                    </div>
                </div>
                <!-- END site-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- END CENTER SECTION-->
<!-- BEGIN AFTER CENTER SECTION-->
<!-- END AFTER CENTER SECTION-->